@using OnlineShop.Models;
@model IEnumerable<SpecialTags>
@{
    ViewData["Title"] = "Index";
}


<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Special Types List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info text-white"><i class="fa-solid fa-plus"></i> &nbsp; New Tag Name</a>
    </div>
</div>
<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c=>c.SpecialTag)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in Model){
            <tr>
                <td>@item.SpecialTag</td>
                <td class="text-end">
                    <partial name="_ButtonPartialForSpecialTag" model="item.Id"></partial>
                </td>
            </tr>
        }
    </table>
</div>

