@model OnlineShop.Models.Products;
@{
    ViewData["Title"] = "Product Details";
}

@using OnlineShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;

    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }
    
}

<br />
<h2 class="text-info ">Product details</h2>

<form asp-action="Details" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary=ModelOnly class="text-danger" />
        <div class="col-8">
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Name" readonly class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
@*            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    <input type="file" readonly asp-for="Image" class="form-control" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" readonly class="form-control" />
                </div>
                <span asp-validation-for="ProductColor" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    @*<select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
                    <input asp-for="ProductTypes.ProductType" readonly class="form-control" />
                </div>
                <span asp-validation-for="ProductTypes.ProductType" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="SpecialTag.SpecialTag"></label>
                </div>
                <div class="col-8">
                    @*<select asp-for="SpecialTagId" asp-items="ViewBag.TagId" class="form-control"></select>*@
                    <input asp-for="SpecialTag.SpecialTag" readonly class="form-control" />
                </div>
                <span asp-validation-for="SpecialTag.SpecialTag" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    
                </div>
                <div class="col-8">
                    @if(product!= null) {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id" > Remove from Cart</button>
                    }else{
                        <input type="submit" value="Add to Cart" class="btn btn-info form-control" />
                    }
                </div>
                
            </div>
            <div class="form-group">
@*                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" value="Update">Edit</a>*@
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            <img src="~/@Model.Image" width="100%" style="border:1px solid #efefef; border-radius: 5px" />
            @if(Model.IsAvailable){
                <img src="~/Images/5278681.png" width="100%" />
            }else {
                <img src="~/Images/out-of-stock.png" width="100%" />
            }
        </div>

    </div>
</form>

@section Scripts {
    @{
        //await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    }




