@model OnlineShop.Models.ApplicationUser;
@{
    ViewData["Title"] = "Lockout User";
}

<br />
<h2 class="text-info ">Lockout User</h2>

<form asp-action="Lockout" method="post" id="user-form" enctype="multipart/form-data">
    <div class="p-4 rounded border">
        <div asp-validation-summary=ModelOnly class="text-danger">
        </div>

        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <h3>@ViewBag.message</h3>
        <h3>Do you want to lockout this user?</h3>
        <br />
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="UserName"></label>
            </div>
            <div class="col-5">
                <input asp-for="UserName" readonly class="form-control" />
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="FirstName" readonly class="form-control" />
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row mb-2">
            <div class="col-2">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="LastName" class="form-control" readonly />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Lockout" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#user-form").validate({
                    rules: {
                        UserName: {
                            required: true,
                        },
                        PasswordHash: {
                            required: true,
                        }
                    },
                    messages: {
                        UserName: "Please enter your name!",
                        PasswordHash: "Please enter your password!"
                    }
                });
            })

        </script>
    }
    }



