
@{
    ViewData["Title"] = "Index";
}


<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Roles</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info text-white"><i class="fa-solid fa-plus"></i> &nbsp; New Role</a>
    </div>
</div>
<br />

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Name
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in ViewBag.Roles){
            <tr>
                <td>@item.Name</td>
                    <td class="text-end">
                        <partial name="_PartialViewRole" model="item.Id"></partial>
                    </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit != '' ){
                alertify.success(edit);
            }
            // khong duoc de ten bien la delete -> trung tu khoa
            var deleteProduct = '@TempData["delete"]'
            if(deleteProduct != ''){
                alertify.success(deleteProduct);
            }
        })
    </script>
}



